.App {
  text-align: center;
}

#header_container{
  background-image: url(osu_football.png);
}

#row1{
  color: orange;
  font-size: x-large;
  padding-top: 30px;
  padding-bottom: 25px;
}

#osu_logo{
  max-width: 30%;
}

#row2{
  color: black;
  font-size: larger;
  padding-top: 25px;
}

#row3{
  padding-bottom: 75px;
}

#dropdown-button-sort{
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  align-items:end
}

#col1{
  font-size: larger;
  font-weight: bold;
}
#col2{
  font-size: larger;
  font-weight: bold;
}