.App {
  text-align: center;
}

#header{
  color: orange;
  font-weight: bold;
  align-items: center;
}

#sort-dropdown{
  color: rgb(213, 148, 18);
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  align-items:end
}


#row1{
  color: orange;
  font-size: x-large;
  align-items: center;
}
#row2{
  color: black;
  font-size: larger;
  align-items: center;
}