@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Football {
  text-align: center;
}

#header_container{
  background-image: url(osu_football.png);
}

#row1{
  color: black;
  font-size: 85px;
  font-weight: bolder;
  padding-top: 100px;
  padding-bottom: 50px;
}

#row2{
  padding-bottom: 147px;
}

#row4{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

#dropdown-button-sort{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  align-items:end
}

#highView{
  font-style: normal;
  font-weight: bold;
  font-size: large;
}
#lowView{
  font-style: normal;
  font-weight: bold;
  font-size: large;
}
#oldest{
  font-style: normal;
  font-weight: bold;
  font-size: large;}
#recent{
  font-style: normal;
  font-weight: bold;
  font-size: large;}

#col1, #col2{
  font-size: larger;
  font-weight: bold;
}
#col1{
  display: flex;
  justify-content: center;
}
