*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h1-home{
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.home{
    /* Set background image */
    background-image: url('Osusports.jpg');
    /* Ensure the background image covers the entire background area */
    background-size: cover;
    /* Center the background image */
    background-position: center;
    height: 100%;
    padding-bottom: 500px;
    /* Prevent background image from repeating */
    background-repeat: no-repeat;
    color: white;
}