*{
    box-sizing: border-box; 
    margin: 0%;
    padding: 0%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7b00;
    color: white;
    padding: 10px 20px;
    font-family: "Bebas Neue", sans-serif;
}
#home-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    

}
img {
    width: 150px;
    height: auto;
  }

a{
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size:40px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
}


  
  